<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="../static/menu.png" class="menu-icon">
            <img src="../static/logo.png" class="logo">
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box">
                <input type="text" placeholder="search">
                <img src="../static/search.png" >
            </div>
              <img src="../static/voice-search.png" class="mic-icon">
        </div>
        <div class="nav-right flex-div">
            <img src="../static/upload.png">
            <img src="../static/more.png" >
            <img src="../static/notification.png">
            <img src="../static/jack.png" class="user-icon">

        </div>
    </nav>
    <div class="container play-container">
        <div class="row">
            <div class="play-video">
                <video controls>
                    <source src="../static/Tamizh proud status thamizhuku amuthendru per  methagu tamil.mp4" type="video/mp4">
                </video>
                <div class="tags">
                    <a href="#">#Coding</a>
                    <a href="#">#Javascipt</a>
                    <a href="#">#Python</a>
                    <a href="#">#Happy Students</a>

                </div>

                <br>
                <h2>Python Web Developement - Youtube UI Clone</h2>

                <div class="play-video-info">
                    <p>1M views &bull; 3 days ago</p>
                    <div>
                        <a href="#"><img src="../static/like.png" >125</a>
                        <a href="#"><img src="../static/dislike.png" ></a>
                        <a href="#"><img src="../static/share.png" >45</a>
                        <a href="#"><img src="../static/save.png" >Save</a>
                    </div>
                </div>
                    <hr>
                    <div class="publisher">
                        <img src="../static/jack.png" >
                        <div>
                           <p>Learn Python</p>
                           <span>500k Subscribers</span>

                        </div>
                        <button type="button">Subscribe</button>
                    </div>

                    <div class="vid-description">
                        <p>This is a channel focused building Tech Videos</p>
                        <p>This is to help Learners to learn stuff easily</p>
                        <hr>
                        <h4>250 comments</h4>
                        <div class="add-comment">
                            <img src="../static/jack.png" alt="">
                            <input type="text" placeholder="Write comments...">
                        </div>
                        <div class="old-comments">
                            <img src="../static/tom.png" alt="">
                            <div>
                                <h3>Tom <span>5 days ago</span> </h3>
                                <p>This is a Python course. Here we are learning to build Flask Micro Frame Work</p>
                                <div class="comment-action">
                                    <img src="../static/like.png" alt="">
                                    <span>500</span>
                                    <img src="../static/dislike.png" alt="">
                                    <span></span>
                                    <span>Reply</span>
                                    <a href="#">All replies</a>
                                </div>
                            </div>
                        
                            
                        </div>
                        <div class="old-comments">
                            <img src="../static/tom.png" alt="">
                            <div>
                                <h3>Tom <span>5 days ago</span> </h3>
                                <p>This is a Python course. Here we are learning to build Flask Micro Frame Work</p>
                                <div class="comment-action">
                                    <img src="../static/like.png" alt="">
                                    <span>500</span>
                                    <img src="../static/dislike.png" alt="">
                                    <span></span>
                                    <span>Reply</span>
                                    <a href="#">All replies</a>
                                </div>
                            </div>
                        
                            
                        </div>
                        <div class="old-comments">
                            <img src="../static/tom.png" alt="">
                            <div>
                                <h3>Tom <span>5 days ago</span> </h3>
                                <p>This is a Python course. Here we are learning to build Flask Micro Frame Work</p>
                                <div class="comment-action">
                                    <img src="../static/like.png" alt="">
                                    <span>500</span>
                                    <img src="../static/dislike.png" alt="">
                                    <span></span>
                                    <span>Reply</span>
                                    <a href="#">All replies</a>
                                </div>
                            </div>
                        
                            
                        </div>
                        <div class="old-comments">
                            <img src="../static/tom.png" alt="">
                            <div>
                                <h3>Tom <span>5 days ago</span> </h3>
                                <p>This is a Python course. Here we are learning to build Flask Micro Frame Work</p>
                                <div class="comment-action">
                                    <img src="../static/like.png" alt="">
                                    <span>500</span>
                                    <img src="../static/dislike.png" alt="">
                                    <span></span>
                                    <span>Reply</span>
                                    <a href="#">All replies</a>
                                </div>
                            </div>
                        
                            
                        </div>
                    </div>
            </div>
            <div class="right-sidebar">
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail1.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail2.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail3.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail4.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail5.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail6.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail7.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="../static/thumbnail8.png" >
                    </a>
                    <div class="vid-info">
                        <a href="#">This is a python Developement course.Here we learn coding</a>
                        <p>Happy Students</p>
                        <p>1.5M views &bull; 3 days ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    <script src="script.js"></script>
</body>
</html>